<link href="/assets/css/anaylsis.css" rel="stylesheet">

<div class="header">
    <h1>Volunteer Analytics</h1>
  
</div>

<div class="container">
    <div class="summary">
        <div class="summary-card">
          <h4 style=" color: white !important;">Total Events</h4>
          <p>{{ summaryData?.totalEvents }}</p>
        </div>
        <div class="summary-card">
          <h4 style=" color: white !important;">Total Hours</h4>
          <p>{{ summaryData?.totalHours }}</p>
        </div>
        <div class="summary-card">
          <h4 style=" color: white !important;">People Helped</h4>
          <p>{{ summaryData?.peopleHelped }}</p>
        </div>
        <div class="summary-card">
          <h4 style=" color: white !important;">Goods Distributed</h4>
          <p>{{ summaryData?.goodsDistributed | currency }}</p>
        </div>
      </div>

      <div class="graph-section">
        <canvas id="activityChart"></canvas>
      </div>
      

    
        <div class="navigation">
          <div class="nav-links">
              <a routerLink="/view-profile" class="btn btn-back">Back</a>
              <a routerLink="/participation-details">View Participation Details</a>
              <a *ngIf="isExaminer" routerLink="/pendingLands">Available Lands to Examine</a>
              <a *ngIf="isExaminer" routerLink="/suitability-evaluations">View Suitability Evaluations</a>
          </div>
      </div>
  
</div>


