<app-navbar></app-navbar>

<div class="container mt-5">
    <h1 class="text-center mb-4 mt-5">Our Auctions</h1>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of auctionItems">
            <div class="card">
                <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><strong>Current Price:</strong> ${{ item.currentPrice }}</p>
                    <a routerLink="/auction-details" class="btn btn-primary">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
