<app-navbar></app-navbar>

<div class="container">
    <h1>Profile</h1>

    <div class="profile-container">
        <div class="profile-pic">
            <img src="assets/img/profile-picture.jpg" alt="Profile Picture">
        </div>

        <div class="profile-info">
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>


            <!-- Link to Edit Profile Page -->
            <a [routerLink]="['/edit-profile', user.id]" class="btn">Edit Profile</a>
        </div>
    </div>

    <!-- Conditional sections based on user type -->
    <div class="user-type-section doner" *ngIf="userType === 'doner'">
        <h2>Donor Information</h2>
        <p>Donor ID: {{ additionalInfo.donor_id_number }}</p>
        <a routerLink="/donation-history" class="btn">My Donations</a>
    </div>

    <div class="user-type-section volunteer" *ngIf="userType === 'volunteer'">
        <h2>Volunteer Information</h2>
        <p>Skills: {{ additionalInfo.skills }}</p>
        <p>Availability: {{ additionalInfo.availability }}</p>
        <a routerLink="/volunteer-analytics" class="btn"> History</a>
    </div>

  
</div>
