<div class="container">
    <h1>Post Title 1</h1>
    <img src="assets/img/feeding.png" alt="Event Image">

    <div class="post-details">
        <span><strong>Posted on:</strong> 2024-09-20</span>
    </div>

    <div class="post-content">
        <p>This is the detailed content of the post. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus nostrum et iure perspiciatis officiis voluptate voluptatum ex eius id est non, unde consequatur placeat officia. Facilis a quaerat rem ab?...</p>
    </div>

    <button class="btn back-btn" (click)="goBack()">Back to Posts</button>
</div>
