/* .container {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(106, 156, 137, 0.5); 
}

h1 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card .created-at {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: var(--dark);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(106, 156, 137, 0.5); 
}

.card h2 {
    color: var(--primary);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card p {
    color: var(--dark);
    font-size: 1rem;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.btn {
    padding: 10px 15px;
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    border: none; 
    margin-bottom: 5px;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--dark);
    transform: translateY(-2px);
}

.create-btn {
    background-color: var(--primary);
    display: block;
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 30px;
    width: 200px;
}

.create-btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: var(--primary);
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%; 
    padding: 8px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.05);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    border-color: var(--secondary);
    color: var(--primary);
}

select option:hover {
    background-color: var(--primary) !important;
    color: var(--light); 
}

.post-content {
    padding: 20px;
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */



.post-list-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.post-header {
    text-align: center;
    margin-bottom: 30px;
}

.post-header h1 {
    font-weight: 600;
}

.post-item {
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
}

.post-title {
    font-weight: 600;
    color: #28a745;
    font-size: 1.2em;
}

.post-date {
    font-weight: 500;
    color: #495057;
    font-size: 0.9em;
}

.post-description {
    margin-top: 5px;
    font-style: italic;
    color: #6c757d;
}

.btn-view {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.btn-view:hover {
    background-color: #0056b3;
}
