

<app-navbar></app-navbar>

<div class="container mt-5" *ngIf="auctionDetails" >
    <div class="card mb-3 custom-card"  style="margin-top: 50px;" >
        <div class="row g-0" >
            <div class="col-md-6">
                <img *ngIf="auctionDetails.imageUrl" [src]="auctionDetails.imageUrl" class="img-fluid" alt="{{ auctionDetails.title }}">
            </div>
            <div class="col-md-6" style="padding: 20px;" >
                <h3>{{ auctionDetails.title }}</h3>
                <p><strong>Description:</strong> {{ auctionDetails.description }}</p>
                <p><strong>Current Price:</strong> {{ auctionDetails.current_highest_bid | currency }}</p>
                <p><strong>Start Date:</strong> {{ auctionDetails.start_date || 'No start date available' }}</p>
                <p><strong>End Date:</strong> {{ auctionDetails.end_date || 'No end date available' }}</p>

                <!-- Place bid section -->
                <div class="input-group">
                    <input type="number" class="form-control mb-2" placeholder="Enter your bid" [(ngModel)]="bidAmount" name="bidAmount">
                    <button class="btn btn-primary" (click)="placeBid()">Add Your Bid</button>
                </div>

                <p><strong>Number of Bidders:</strong> {{ auctionDetails.number_of_bidders || 'No bidders yet' }}</p>
            </div>
        </div>
    </div>
</div>
