<p>details-auctions works!</p>
<body></body>
    <div class="container mt-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-6"> <!-- تكبير الصورة بتغيير النسبة إلى 6/12 -->
                    <img src="فاظات.jpeg" class="img-fluid rounded-start" alt="Despicable Me 4">
                </div>
                <div class="col-md-6"> <!-- تقليل حجم النص بتغيير النسبة إلى 6/12 -->
                    <div class="card-body">
                        <h3 class="card-title">Antique vases</h3><br>
                        <p class="card-text"><B> Overall Appearance:</B>
                            These artifacts showcase exquisite craftsmanship, featuring rich colors and intricate designs that reflect their historical and cultural significance. Each piece tells a unique story from its era.</p>
                            <p class="card-text"> <B>Condition:</B>
                                Signs of age, such as scratches or wear, add to their charm. Overall, the condition is good, making them attractive to collectors.</p>
                        <p class="card-text"><strong>Starting Price:</strong> $100</p>
                        <p class="card-text"><strong>Current Price:</strong> $320</p>
                        <p class="card-text"><strong>Number of Bidders:</strong> 5</p>
                        <p class="card-text"><strong>Ends On:</strong> 2024-09-30</p>
                        <br><br><br>
                     
                        <input type="number" class="form-control mb-2" placeholder="Enter your bid" aria-label="Bid amount">
                        <a href="#" class="btn btn-primary"> Add Your Bid</a>
                    </div>
                </div>
            </div>
        </div>
    </div>