<app-navbar></app-navbar>
<div class="blog">
  <div class="container">
    <div class="section-header text-center">
      <p>Our Blog</p>
      <h2>Latest news & articles directly from our blog</h2>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let post of paginatedPosts">
        <div class="blog-item">
          <div class="blog-img">
            <img
              [src]="post.image"
              alt="Blog Image"
              style="height: 348px; width: 348px"
            />
          </div>
          <div class="blog-text">
            <h3>
              <a [routerLink]="['/blog', post.id]">{{ post.title }}</a>
            </h3>
            <p>{{ post.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination (if you have it) -->
    <div class="pagination">
      <button
        (click)="currentPage = currentPage - 1"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <span>Page {{ currentPage }}</span>
      <button
        (click)="currentPage = currentPage + 1"
        [disabled]="currentPage >= blogPosts.length / pageSize"
      >
        Next
      </button>
    </div>
  </div>
</div>
