body {
  color: #777777;
  font-weight: 500;
  background: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4c70;
}

a {
  color: #4a4c70;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #000000;
  outline: none;
  text-decoration: none;
}

.btn.btn-custom {
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  border-radius: 0;
  border: 2px solid #FDBE33;
  box-shadow: inset 0 0 0 0 #FDBE33;
  transition: ease-out 0.3s;
}

.btn.btn-custom:hover {
  color: #20212B;
  box-shadow: inset 0 0 0 30px #FDBE33;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.blog {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
  margin-top: 100px;
}

.blog .blog-item {
  margin-bottom: 50px; /* Increased the margin to create more space between posts */
  padding-bottom: 15px;
  background: #f3f6ff;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.blog .blog-img {
  width: 100%;
}

.blog .blog-img img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.blog .blog-text {
  padding: 15px; /* Reduced padding for uniformity */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog .blog-text h3 {
  font-size: 18px; /* Adjusted font size for uniformity */
  font-weight: 700;
}

.blog .blog-text p {
  margin: 0;
  overflow: hidden; /* Ensures no overflow is shown */
  text-overflow: ellipsis; /* Adds ellipsis if text overflows */
  white-space: nowrap; /* Prevents wrapping */
  display: block; /* Display block to apply ellipsis */
  max-height: 48px; /* Adjust height as needed to show part of the text */
}

/* Pagination styles */
.blog .pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin-top: 20px;
  margin-bottom: 15px;
}

.blog .pagination .page-item {
  margin: 0 5px;
}

.blog .pagination .page-link {
  color: #4a4c70;
  border: 1px solid #4a4c70;
  padding: 8px 12px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.blog .pagination .page-link:hover {
  color: #ffffff;
  background-color: #4a4c70;
  border-color: #4a4c70;
}

.blog .pagination .page-item.active .page-link {
  background-color: #4a4c70;
  color: #ffffff;
  border-color: #4a4c70;
}

.blog .pagination .disabled .page-link {
  color: #999999;
  border-color: #cccccc;
  background-color: #ffffff;
}

/* Navbar styles */
.navbar {
  position: fixed; /* Ensure the navbar stays at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Bring it above other content */
}

/* Footer styles */
.footer {
  width: 100%; /* Ensure full width */
  background-color: #003d33; /* Dark background */
  padding: 5rem 0; /* Maintain padding */
  margin: 0; /* Reset margin */
}
