      
    <link href="../../../../assets/css/sb-admin-2.css" rel="stylesheet">
      
      <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-judur sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon ">
                    <i class="fa-solid fa-seedling"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Judur</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span> Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/users">
                    <i class="fa-solid fa-users"></i>
                    <span> Users</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/requests">
                    <i class="fa-solid fa-code-pull-request"></i>
                    <span> Requests</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/events">
                    <i class="fa-regular fa-calendar-days"></i>
                    <span> Events</span></a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/auctions">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span> Auctions</span></a>
            </li>

            <hr class="sidebar-divider">
            
    
        <!-- Add Posts Link -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/posts">
                <i class="fa-solid fa-file-alt"></i>
                <span>Posts</span>
            </a>
        </li>

        <hr class="sidebar-divider">

        <!-- Add Examiner Reports Link -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/report-details/1/examiner-reports">
                <i class="fa-solid fa-file-chart-line"></i>
                <span>Examiner Reports</span>
            </a>
        </li>

        <hr class="sidebar-divider">


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->