<div class="forgot-password-container d-flex justify-content-center align-items-center vh-100" style="background-color: #EFFDF5;">
  <div class="card p-4" style="max-width: 400px; width: 100%; background-color: #FFFFFF; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center mb-4" style="color: #16423C;">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="email" style="color: #16423C;">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" class="form-control" />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
          <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
          <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn w-100" style="background-color: #16423C; color: white;">Send Reset Link</button>
    </form>
  </div>
</div>
