<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" class="form-control" />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
          <small class="error" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
          <small class="error" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn">Send Reset Link</button>
    </form>
  </div>
  