<div class="container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="submitNewPassword()">
      <div>
        <label for="password">New Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
  
      <div>
        <label for="passwordConfirmation">Confirm Password</label>
        <input type="password" id="passwordConfirmation" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required />
      </div>
  
      <button type="submit">Reset Password</button>
    </form>
  </div>
  