<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Judur - Dashboard</title>

    <link href="../../../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="../../../../assets/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <app-sidebar class="bg-gradient-judur"></app-sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-topbar></app-topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-judur font-weight-bold">SubAdmin Edit</h1>
                    </div>

                    <div class="container mt-5 text-judur">
                        <div class="card shadow custom-hover-shadow">
                            <div class="card-header">
                                <h2><i class="fa-regular fa-calendar-days"></i> SubAdmin</h2>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="name" formControlName="name" class="form-control" />
                                        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="text-danger">
                                            Name is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" formControlName="email" type="email" class="form-control" />
                                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                                            Valid email is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" formControlName="password" type="password" class="form-control" />
                                        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-danger">
                                            Minimum 6 characters required.
                                        </div>
                                    </div>
                                   
                                    <div>
                                        <label for="role_id">Role:</label>
                                        <select id="role_id" formControlName="role_id" class="form-control">
                                          <option value="" disabled>Select role</option>
                                          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                                        </select>
                                        <div *ngIf="userForm.get('role_id')?.invalid && userForm.get('role_id')?.touched">
                                          Role is required.
                                        </div>
                                      </div>
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input id="age" formControlName="age" class="form-control" />
                                        <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched" class="text-danger">
                                            Age must be a valid number.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input id="phone" formControlName="phone" class="form-control" />
                                        <div *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched" class="text-danger">
                                            Phone must be a valid string.
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" style="background-color: #16423C;">Update User</button>
                                </form>
                            </div>
                            <button type="button" class="btn btn-judur mx-3">
                                <a [routerLink]="['/management']" style="text-decoration: none; color: white!important;">Back to User List</a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Judur 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   
</body>

</html>
