<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 bg-dark" style="margin-bottom: 115px;">
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="fw-bold text-primary m-0">JUDUR<span class="text-white"></span></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
  
           
    </nav>
  </div>
  <!-- Navbar End -->
  
<div class="register-container">
    <img src="assets/img/ju.png" alt="Judur Logo" class="logo">

    <form [formGroup]="donorForm" (ngSubmit)="registerDonor()">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter your full name"
                required>
            <div *ngIf="donorForm.controls['name'].invalid && donorForm.controls['name'].touched" class="text-danger">
                Full Name is required (min 2 characters).
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email"
                required>
            <div *ngIf="donorForm.controls['email'].invalid && donorForm.controls['email'].touched" class="text-danger">
                Valid Email is required.
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input formControlName="phone" type="tel" class="form-control" id="phone"
                placeholder="Enter your phone number" required>
            <div *ngIf="donorForm.controls['phone'].invalid && donorForm.controls['phone'].touched" class="text-danger">
                Phone Number is required.
            </div>
        </div>



        <div class="form-group">
            <label for="age">Age</label>
            <input formControlName="age" type="number" class="form-control" id="age" placeholder="Enter your age"
                required>
            <div *ngIf="donorForm.controls['age'].invalid && donorForm.controls['age'].touched" class="text-danger">
                Age is required.
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="profile_picture">Profile Picture</label>
            <input type="file" class="form-control" id="profile_picture" (change)="onFileSelected($event)">
            <div *ngIf="donorForm.controls['profile_picture']?.invalid && donorForm.controls['profile_picture'].touched" class="text-danger">
              Profile picture is required.
            </div>
          </div> -->
          

        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                placeholder="Enter your password" required>
            <div *ngIf="donorForm.controls['password'].invalid && donorForm.controls['password'].touched"
                class="text-danger">
                Password is required (min 6 characters).
            </div>
        </div>



       



        <button type="submit" class="btn register-btn btn-block" [disabled]="donorForm.invalid">Register</button>
        <a routerLink="/login" class="d-block mt-3 login-link">Already have an account? Login</a>
    </form>
</div>