<app-navbar></app-navbar>

<div class="event-details" *ngIf="event">
  <div class="event-header">
    <h1 class="event-title">{{ event.title }}</h1>
    <img [src]="event.image_url" alt="{{ event.title }} Image" loading="lazy" class="event-image">
  </div>

  <div class="event-info-horizontal">
    <div class="event-section">
      <h3><i class="fas fa-map-marker-alt"></i> Location:</h3>
      <p>{{ event.location }}</p>
    </div>
    <div class="event-section">
      <h3><i class="fas fa-calendar-alt"></i> Date & Time:</h3>
      <p>{{ event.date }} - {{ event.time }}</p>
    </div>
    <div class="event-section">
      <h3><i class="fas fa-clock"></i> Duration:</h3>
      <p>{{ event.duration }} hours</p>
    </div>
    <div class="event-section">
      <h3><i class="fas fa-users"></i> Expected Organizers:</h3>
      <p>{{ event.expected_organizer_number }}</p>
    </div>
    <div class="event-section">
      <h3><i class="fas fa-info-circle"></i> Description:</h3>
      <p>{{ event.description }}</p>
    </div>
  </div>

  <div class="event-actions">
    <app-event-join [eventId]="event.id"></app-event-join>
    <a class="btn btn-custom" routerLink="/list-event">Back</a>
  </div>
</div>
