<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="event-details-card">
        <div class="card-body">
            <h1>{{ event.name }}</h1>
            <img [src]="event.imageUrl" alt="Event Image">

            <h3><span>Location:</span> {{ event.location }}</h3>
            <p><span>Date:</span> {{ event.date }}</p>
            <p><span>Duration:</span> {{ event.duration }}</p>
            <p><span>Status:</span> {{ event.status }}</p>
            <p><span>Description:</span> {{ event.description }}</p>
        </div>

        <div style="margin-top: 20px;">
            <a class="btn btn-custom" routerLink="/join-event">Join Now</a>
            <a style="margin-left: 20px;" class="btn btn-custom" routerLink="/list-event">Back To Events</a>
        </div>
    </div>

    <h2>Feedbacks</h2>
    <div class="feedback" *ngFor="let feedback of event.feedbacks">
        <p>"{{ feedback.text }}"</p>
        <small>By {{ feedback.user }} on {{ feedback.date }}</small>
    </div>
</div>
