

.container {
  max-width: 1000px;
  margin: 115px auto;

  padding: 0 20px;
}

.event-details {
  background-color: var(--light); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 40px;
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.event-details:hover {
  transform: translateY(-2px); /* Lift effect on hover */
}

.event-header {
  text-align: center;
  margin-bottom: 30px;
}

.event-header h1 {
  color: var(--primary);
  margin-bottom: 15px;
  font-size: 2.5rem; /* Larger font size */
}

.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 20px;
  border: 2px solid var(--primary); /* Border for the image */
}

.event-info,
.event-description,
.feedbacks {
  margin-bottom: 30px;
}

.event-section {
  margin-bottom: 20px;
}

.event-section h3 {
  color: var(--primary);
  margin-bottom: 5px;
  font-size: 1.6rem; /* Responsive font size */
}

.event-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn,
app-event-join {
  /* padding: 12px 20px; */
  background-color: var(--primary);
  color: var(--light); /* Ensure good contrast */
  text-decoration: none;
  border-radius: 6px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s; /* Smooth transition */
  font-size: 1.1rem; /* Responsive font size */
}

.btn:hover,
app-event-join:hover {
  background-color: var(--secondary);
  transform: translateY(-2px); /* Lift effect on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .event-section h3 {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }
  
  .event-actions {
    flex-direction: column; /* Stack buttons on smaller screens */
  }

  .feedback-list {
    grid-template-columns: 1fr; /* Single column on small screens */
  }

  .event-details {
    padding: 20px; /* Less padding on mobile */
  }
}
