/********** Template CSS **********/
:root {
    --primary: #16423C;
    --secondary: #6A9C89;
    --light: #E9EFEC;
    --dark: #001D23;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn.btn-primary:hover {
    color: var(--primary);
    background: transparent;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var( --secondary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)),  url(/assets/img/money-jars.jpg) ;

    background-size: cover ;
    width: 100%;
    background-position-y: center;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}
.page-header1 {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)),  url(/assets/img/money-jars.jpg) ;

    background-size: cover ;
    width: 100%;
    background-position-y: center;
}
.page-header1 .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}






@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }

}

.notification-link:hover {
    color: #6A9C89; /* Change color on hover */
}

.nav-item i {
    margin-right: 5px;
    color: white; /* Icon color */
}

.dropdown-menu {
    left: auto;
    right: 0;
    width: 400px; 
    margin-top: 10px; 
    border-radius: 10px; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
    background: #f8f9fa; 
    overflow: hidden; /* Ensure no overflow */
}

.dropdown-header {
    color: #16423C;
    text-align: center;
    padding: 10px; /* Add padding to dropdown header */
}

.dropdown-item {
    padding: 10px 15px; 
    margin-right: 10px;
    width: calc(100% - 30px); 
    margin: 5px 10px; 
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.notification-item:hover {
box-shadow: 0 4px 10px var(--primary);
}

.text-decoration-none {
    color: inherit; 
}

.responsive-dropdown {
    max-height: 400px; 
    overflow-y: auto; 
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
