<div class="login-container">

  <img src="assets/img/ju.png" alt="Judur Logo" class="logo">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter your email" class="form-control" />
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              <small class="error" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
              <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
          </div>
      </div>

      <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" formControlName="password" type="password" placeholder="Enter your password" class="form-control" />
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <small class="error" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="login-btn mt-4  mb-4" style="align-items: center;">Login</button>

      <div *ngIf="loginForm.invalid && (loginForm.touched || loginForm.dirty)">
          <small class="error">Please fix the errors above.</small>
      </div>

      <div class="forgot-password" style="text-align: center;">
        <a routerLink="/forgot-password">Forgot your password?</a>
      </div>
      

      <div class="register-link">
          <a routerLink="/register-choice">Don't have an account? Register here</a>
      </div>
  </form>
</div>
